.table-cell {
     -fx-alignment: BASELINE_CENTER;
 }
 .linear-grad-to-top{
     -fx-background-color: linear-gradient(to top, #ff7f50, #6a5acd);
 }
.linear-grad-to-bottom{
    -fx-background-color: linear-gradient(to bottom, #ff7f50, #6a5acd);
}
